<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <meta name="keywords" content="tailwind,tailwindcss,tailwind css,css,starter template,free template,store template, shop layout, minimal, monochrome, minimalistic, theme, nordic">

    <link rel="stylesheet" href="products.css">

    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    

    <style>

        #cartCounter {
            font-size: 10px;
        }

        .action {
        position: fixed;
    }
    .action .menu {
        position: fixed;
        top: 60px;
        right: 60px;
        padding: 10px 20px;
        background: black;
        text-align: center;
        font-size: small;
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
    }

    .action .menu::before{
        content: '';
        position: absolute;
        top: -1px;
        right: 15px;
        width: 18px;
        height: 10px;
        background: black;
        transform: rotate(45deg);
    }

    .action .menu.active{
        visibility: visible;
        opacity: 1;
    }

        .card{
            position: relative;
            height: 22rem;
            width: 22rem;
            padding: 0;
            margin: 20px;
            overflow: hidden;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card img {
            object-fit: cover;
            height: 400px;
            margin: 0;
        }

        .container .card .content{
            position: absolute;
            bottom: -160px;
            width: 100%;
            height: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            flex-direction: column;
            background-color: black;
            box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
            border: 1px solid rgba(255,255,255,0.2);
            transition: bottom 0.5s;
        }

        .container .card:hover .content{
            bottom: 0px;
        }

        .container .card .content h3{
            color: white;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            margin: 20px 0 15px;
            line-height: 1.1em;
            transition: 0.5s;
            opacity: 0;
            transform: translateY(-20px);
        }

        .container .card:hover .content h3{
            opacity: 1;
            transform: translateY(0px);
        }

        .bt{
            scale: 50%;
        }

        .work-sans {
            font-family: 'Work Sans', sans-serif;
        }
                
        #menu-toggle:checked + #menu {
            display: block;
        }
        
        .hover\:grow {
            transition: all 0.3s;
            transform: scale(1);
        }
        
        .hover\:grow:hover {
            transform: scale(1.02);
        }
        
        .carousel-open:checked + .carousel-item {
            position: static;
            opacity: 100;
        }
        
        .carousel-item {
            -webkit-transition: opacity 0.6s ease-out;
            transition: opacity 0.6s ease-out;
        }
        
        #carousel-1:checked ~ .control-1,
        #carousel-2:checked ~ .control-2,
        #carousel-3:checked ~ .control-3 {
            display: block;
        }
        
        .carousel-indicators {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 2%;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 10;
        }
        
        #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
        #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
        #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
            color: #000;
            /*Set to match the Tailwind colour you want the active one to be */
        }
    </style>

</head>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

    <nav id="header" class="w-full z-30 top-0 py-1">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-6 py-3">

            <label for="menu-toggle" class="cursor-pointer md:hidden block">
                <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <title>menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </label>
            <input class="hidden" type="checkbox" id="menu-toggle" />

            <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
                <nav>
                    <ul class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0">
                        <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" href="/">Home</a></li>
                        <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" href="#">Featured</a></li>
                        <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" href="#">EUB</a></li>
                        <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" href="products.ejs">Products</a></li>
                    </ul>
                </nav>
            </div>

            <div class="order-1 md:order-2 pr-60">
                <a class="flex items-center tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl " href="/">
                    <svg class="fill-current text-gray-800 mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M5,22h14c1.103,0,2-0.897,2-2V9c0-0.553-0.447-1-1-1h-3V7c0-2.757-2.243-5-5-5S7,4.243,7,7v1H4C3.447,8,3,8.447,3,9v11 C3,21.103,3.897,22,5,22z M9,7c0-1.654,1.346-3,3-3s3,1.346,3,3v1H9V7z M5,10h2v2h2v-2h6v2h2v-2h2l0.002,10H5V10z" />
                    </svg>
                    Selec.Co
                </a>
            </div>

            <div class="order-2 md:order-3 flex items-center" id="nav-content">

                 <!-- check if logged in  -->
                 <% if(user) { %> 
                    <div class="action z-50">
                        <div class="menu">
                            <h3 class="text-white"><a href="">User</a></h3>
                            <form id="logout" action="/logout" method="POST">
                                <ul>
                                    <li class="text-white"><a onclick="document.getElementById('logout').submit()" href="#">Logout</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <% } %> 

                <a class="inline-block no-underline hover:text-black" onclick="menuToggle()" href="#">
                    <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <circle fill="none" cx="12" cy="7" r="3" />
                        <path d="M12 2C9.243 2 7 4.243 7 7s2.243 5 5 5 5-2.243 5-5S14.757 2 12 2zM12 10c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3S13.654 10 12 10zM21 21v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h2v-1c0-2.757 2.243-5 5-5h4c2.757 0 5 2.243 5 5v1H21z" />
                    </svg>
                </a>

                <div class="flex items-center overflow-hidden">
                    <a class="pl-3 inline-block no-underline hover:text-black" href="cart.ejs">
                        <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M21,7H7.462L5.91,3.586C5.748,3.229,5.392,3,5,3H2v2h2.356L9.09,15.414C9.252,15.771,9.608,16,10,16h8 c0.4,0,0.762-0.238,0.919-0.606l3-7c0.133-0.309,0.101-0.663-0.084-0.944C21.649,7.169,21.336,7,21,7z M17.341,14h-6.697L8.371,9 h11.112L17.341,14z" />
                            <circle cx="10.5" cy="18.5" r="1.5" />
                            <circle cx="17.5" cy="18.5" r="1.5" />
                        </svg>
                    </a>
                        <span class="mb-4 ml-0 rounded-full h-4 w-4 flex items-center justify-center inline-block bg-black rounded-full text-white z-50" id="cartCounter"><%= session.cart ? session.cart.totalQty : '0' %></span>
                </div>
            </div>
        </div>
    </nav>


    <section class="cart py-16">

        <% if(session.cart) { %> 
        <div class="order container mx-auto w-1/2">
            <div class="flex items-center border-b border-black pb-4">
                <img class="w-10" src="/imgs/cart_icon.png" alt="">
                <h1 class="ml-4 text-2xl text-black">Order Summary</h1>
            </div>
            <div class="order-list">
                <% for(let shop of Object.values(session.cart.items)) { %> 
                <div class="flex items-center my-8">
                    <img class="w-24" src="<%= shop.item.image %>" alt="">
                    <div class="flex-1 ml-4">
                        <h1><%= shop.item.name %></h1>
                    </div>
                    <span class="flex-1"><%= shop.qty %> </span>
                    <span class="font-bold text-lg text-black">$<%= shop.item.price*shop.qty %></span>
                </div>

                <% } %> 


            </div>
            <hr class="bg-black">
            <div class="text-right py-4">
                <div>
                    <span class="text-lg text-black">Total Amout:  </span>
                    <span class="amount text-2xl font-bold text-black">$<%= session.cart.totalPrice %></span>
                </div>
            </div>

            <% if(user) { %> 
            <div class="text-right">
                <form class="mt-10" action="/orders" method="POST">
                    <div class="flex">
                        <input class="border border-gray-400 p-2 w-1/2 mb-4" type="text" name="email" id=""
                        placeholder="Email">
                        <input class="border border-gray-400 p-2 w-1/2 mb-4 ml-4" type="text" name="address" id=""
                        placeholder="Address">
                    </div>
                    <div class="pt-4">
                        <button class="text-center px-6 py-2 bg-black text-white w-1/5" type="submit">Place Order</button>
                    </div>
                </form>
            </div>
            <% } else { %> 
            <div class="text-right">
                 <a href="login.ejs" class="text-center inline-block cursor-pointer px-6 py-2 mt-3 bg-black text-white w-1/4">Login to continue</a>
            </div>
            <% } %> 
        </div>

        <% } else { %> 
        
        <!-- empty cart page -->

        <div class="empty-cart">
            <div class="container mx-auto text-center pt-28">
                <h1 class="text-3xl font-bold mb-2 text-black">Cart Empty</h1>
                <p>You haven't added any items into the cart.<br>To place an order, please go to the products page and add items to the cart.</p>
                <img class="w-1/4 mx-auto" src="/imgs/empty_cart.png" alt="">
                <a href="products.ejs" class="inline-block px-6 py-2 bg-black text-white">Go back</a>
            </div>
        </div>

        <% } %> 

    </section>

    <script>
        function menuToggle(){
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        }
    </script>
    